* {
    margin: 0;
    padding: 0;
    border: 1px solid pink;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none; 
    color: #000;
    list-style: none;
}


/* ----------- header ---------- */

.con {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 130px;
    align-items: center;
    top: 0;

}

.logo_con{
    margin-right: 130px;
}

.logo_img {
    /* width: 100px; width: 100px; */
}

.info_con{
    display: flex;
    flex-direction: column;
}

.info_con .info {
    font-size: 14px; 
    color: #666; 
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.info_con .info a,
.info_con .info li {
    margin-right: 30px;
}

.info_con .info a:hover,
.info_con .info li:hover {
    text-decoration: underline;
}

.info_con .info a:last-child,
.info_con .info li:last-child {
    margin-right: 0;
}

.info_con .info_search_li {
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 5px;
}

.info_con .menu {
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.info_con .menu a,
.info_con .menu li {
    margin-right: 30px;
}

.info_con .menu a:hover,
.info_con .menu li:hover {
    text-decoration: underline;
    color: green;
}

.info_con .menu a:last-child,
.info_con .menu li:last-child {
    margin-right: 0;
}


/* main */
main {
    margin-top: 130px;
}
.section1_bg {
    background: url(image/2023_newyear_top_bg.jpg);
    background-size: contain;
    height: calc(100vh - 190px);
}

.section1_bg .section1_column1 img {
    position: absolute;
    bottom: 39%;
    left: 17%;
    width: 250px;
}

.section1_bg .section1_column1 button {
    position: absolute;
    padding: 7px 10px;
    border: 2px solid green;
    border-radius: 10px;
    left: 22%;
    bottom: 28%;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.section1_bg .section1_column1 button:hover {
    background: green;
    text-decoration: underline;
    color: #fff;
}

.section1_column2 img:nth-child(1){
    position: absolute;
    width: 200px;
    left: 40%;
    bottom: 20%;
}

.section1_column2 img:nth-child(2){
    width: 230px;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.section1_column2 img:nth-child(3){
    width: 230px;
    position: absolute;
    left: 64%;
    bottom: 27%;
}