* {
    margin: 0;
    padding: 0;
    border: 1px solid pink;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none; 
    color: #000;
    list-style: none;
}


/* ----------- header ---------- */
header {
    
}
.con {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 130px;
    align-items: center;
    top: 0;
    z-index: 999;
    background: #fff;
}

.logo_con{
    margin-right: 130px;
}

.logo_img {
    /* width: 100px; width: 100px; */
}

.info_con{
    display: flex;
    flex-direction: column;
}

.info_con .info {
    font-size: 14px; 
    color: #666; 
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.info_con .info a,
.info_con .info li {
    margin-right: 30px;
}

.info_con .info a:hover,
.info_con .info li:hover {
    text-decoration: underline;
}

.info_con .info a:last-child,
.info_con .info li:last-child {
    margin-right: 0;
}

.info_con .info_search_li {
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 5px;
}

.info_con .menu {
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.info_con .menu a,
.info_con .menu li {
    margin-right: 30px;
}

.info_con .menu a:hover,
.info_con .menu li:hover {
    text-decoration: underline;
    color: #1e3932;
}

.info_con .menu a:last-child,
.info_con .menu li:last-child {
    margin-right: 0;
}


/* main */
main {
    margin-top: 130px;
}
.section1_bg {
    background: url(image/2023_newyear_top_bg.jpg);
    background-size: contain;
    height: calc(100vh - 190px);
}

.section1_bg .section1_column1 img {
    position: absolute;
    bottom: 39%;
    left: 17%;
    width: 250px;
}

.section1_bg .section1_column1 button {
    position: absolute;
    padding: 7px 10px;
    border: 2px solid #1e3932;
    border-radius: 10px;
    left: 22%;
    bottom: 28%;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.section1_bg .section1_column1 button:hover {
    background: #1e3932;
    text-decoration: underline;
    color: #fff;
}

.section1_column2 img:nth-child(1){
    position: absolute;
    width: 200px;
    left: 40%;
    bottom: 20%;
}

.section1_column2 img:nth-child(2){
    width: 230px;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.section1_column2 img:nth-child(3){
    width: 230px;
    position: absolute;
    left: 64%;
    bottom: 27%;
}

.section2_notice_promotion {
    display: flex;
    height: 65px;

}
.section2_notice_promotion .notice {
    flex: 1;
    display: flex;
    align-items: center;
    background: #000;
    color: #fff;
    justify-content: center;
    position: relative;
}

.section2_notice_promotion .notice span:nth-child(1) {
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
}

.section2_notice_promotion .notice span:nth-child(2) {
    font-size: 14px;
} 

.section2_notice_promotion .notice a,
.section2_notice_promotion .notice img {
    width: 35px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.section2_notice_promotion .promotion {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.section2_notice_promotion .promotion span {
    margin-left: 100px;
    font-size: 17px;
    font-weight: bold;
    margin-right: 70px;
}

.section2_notice_promotion .promotion a,
.section2_notice_promotion .promotion img {
    width: 35px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.section2_reward {
    width: 100%;
    height: 180px;
    background: #1e3932;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.section2_reward .reward_img img {
    width: 140px;
}

.section2_reward .reward_text_con {
}




