* {
    margin: 0;
    padding: 0;
  }
  a, a:link {
    color: #000;
    text-decoration: none;
    font-family: 'Recipekorea';
  }
  ul {
    list-style: none;
    margin: 20vh auto;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: center;
  }
  ul li a {
    display: block;
    padding: 1.5vw 2vw 1vw;
    position: relative;
    font-size: 2.5vw;
  }
  ul li a::after {
    content: ''; /* 반드시 이게 쓰여야 after가 작동된다 */
    display: block; /*after 는 기본적으로 inline이므로 */
    position: absolute;
    bottom: 0;
    z-index: -1;
  } 
  .menu1 li a::after {
    width: 0;
    height: 1vw;
    background: #5d8cef;
    left: 50%;
  }
  ul li a:hover::after {
    width: 100%;
    left: 0;
    transition: all .3s;
  }



/* menu1 따라하기 */
.menu2 li a::after {
    width: 0;
    height: 1vw;
    background: #5d8cef;
    left: 50%;
}


.menu2 > li::after {
    content: "|";
    margin: 0px 5px;
}